.logobox {
  text-align: center;
  width: 160px;
  padding-left: 10px;
  padding-top: 10px;
}

.logobox h4 {
  font-family: sans-serif;
}

.navbar {
  width: 160px
}
.navbar a {
  padding: 6px 0px 0px 10px;
  text-decoration: none;
  font-size: 10px;
  color: blue;
}